body{
    background-image: url('res/retina_wood.png');
    font-family: 'Oswald',Arial,sans;
}

.text {
    user-select: none;
}

#plate {
    width: 350px;
    height: 350px;
    display: flex;
    margin: 100px auto;
    background-color: #333;
    border-radius: 50%;
    position: relative;
}

#inner-plate {
    width: 92%;
    height: 92%;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
}

#button1,#button2,#button3,#button4 {
    position: absolute;
    width: 47%;
    height: 47%;
}

#button1{
    background-color: #cca707;
}
#button1.light{
    background-color: #fed93f;
}

#button2{
    background-color: #9f0f17;
    right: 0;
}
#button2.light{
    background-color: #ff4c4c;
}

#button3{
    background-color: #00a74a;
    bottom: 0;
}
#button3.light{
    background-color:  #13ff7c;
}

#button4 {
    background-color: #094a8f;
    bottom: 0;
    right: 0;
}
#button4.light{
    background-color: #1c8cff;
}

#title {
    font-family: 'Alfa Slab One', cursive;
    color: #222;
    font-size: 2.4em;
}

#title span {
    font-size:14px;
    position: relative;
    bottom: 15px;
}


#mid-control{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-items: flex-end;
}

.text {
    font-size: 9px;
}

#mid-control .text{
    margin-top: 5px;
}

#count-screen {
    background-color: #32050C;
    color: #DC0D29;
    border: 4px solid #222;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    font-family: 'VT323', monospace;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#count-screen.turned-off {
    color: 	rgba(220,13,41, 0.3);
}

#count, #start {
    display: inline-block;
    text-align: center;   
}

#start-button, #strict-button{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #FC0102;
    border: 4px solid #333;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px #222;
    margin-bottom: 5px;
}

#strict-button{
    background-color: yellow;
}

#start-button:active, #strict-button:active{
    box-shadow: 0 1px 1px #292929;
    top: 1px;
}

#center {
    margin: auto;
    width: 210px;
    height: 210px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plate-button {
    cursor: pointer;
}

.unclickable{
    pointer-events: none;
}

#switch {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#switch .text{
    margin: 0 5px;
}

#switch-container {
    width: 30px;
    height: 15px;
    border-radius: 2px;
    background-color: #222;
    cursor: pointer;
}

#switch-button{
    width: 13px;
    height: 13px;
    background-color: #3193DE;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
}

#switch-button.turned-on{
    left:15px;
}